@media screen and (min-width: 650px){
	#content{
	    width: 54%;
	    float: left;
	    margin-right: 3%;
	}
 
	#sidebar-left{
	    width: 20%;
	    float: left;
	    margin-right: 3%;
	}
 
	#sidebar-right{
	    width: 20%;
	    float: left;
	}
}

@media screen and (max-width: 650px){
	#content{
    width: 100%;
}
 
	#sidebar-left{
	    width: 50%;
	    float: left;
	}
	 
	#sidebar-right{
	    width: 50%;
	    float: left;
	}

}